# custom shaders
# custom-shader = shaders/cursor_blaze.glsl
# custom-shader = shaders/cursor_blaze_no_trail.glsl
# custom-shader = shaders/cursor_blaze_tapered.glsl
custom-shader = shaders/cursor_frozen.glsl
# custom-shader = shaders/cursor_smear.glsl
# custom-shader = shaders/cursor_smear_fade.glsl custom-shader = shaders/manga_slash.glsl
custom-shader-animation = always

# font
font-family = ""
font-family = "Apple SD Gothic Neo"  # fallback
font-family = "PCMyungjo Regular"
font-family = "MesloLGS NF"

font-family-bold = "MesloLGS NF Bold"
font-family-italic = "MesloLGS NF Italic"
font-family-bold-italic = "MesloLGS NF Bold Italic"
font-size = 14
font-thicken = true
font-thicken-strength = 10
theme = Xcode Dark
cursor-style = block
background-opacity = 0.9
background-blur = true


# keybindings
keybind = cmd+s>r=reload_config
keybind = cmd+s>x=close_surface

keybind = cmd+s>n=new_window


#tabs
keybind = cmd+s>c=new_tab
keybind = cmd+s>shift+l=next_tab
keybind = cmd+s>shift+h=previous_tab
keybind = cmd+s>comma=move_tab:-1
keybind = cmd+s>period=move_tab:1

#quick tab switch
keybind = cmd+s>1=goto_tab:1
keybind = cmd+s>2=goto_tab:2
keybind = cmd+s>3=goto_tab:3
keybind = cmd+s>4=goto_tab:4
